- if resource.errors.any?
  #error_explanation
    %ul.message-ul
      - resource.errors.full_messages.each do |message|
        %li.message-li
          = message
          .clear-icon-box.hidden
            %i.fas.fa-times
