.form-outline-box
  .form-title-box
    %h2.form-title 本の追加
  = render partial: 'commons/error_messages', locals: {model: @task}
  = render partial: 'form', locals: {task: @task}
= javascript_pack_tag 'form'