.footer-box
  .f-container
    = link_to root_path, class:'navbar-brand footer-font', data: {'turbolinks' => false} do
      %i.fas.fa-book-reader
      %span
      Copyright © dai All Rights Reserved.

