.my-btn{
  margin: 30px 0;
  width: 250px;
  border-radius: 50px;
  background-color: $main_color;

}

.mini{
  width: 150px;
}

img{
  object-fit: cover;
}

a{
  color: #000;

  &:hover{
    color: #000;
    text-decoration: none;
  }
}



.hidden{
  display: none;
}


// fontawesome-----

.edit-icon{
  font-size: 30px;
}

.comment-icon{
  font-size: 25px;
}

.heart-icon{
  font-size: 25px;
}

.create-recommend-btn{
  font-size: 80px;
  position: fixed;
  bottom: 100px;
  right: 150px;
  z-index: 1;
  color: grey;

  &:hover{
    opacity: .8;
  }
}



.dropdown-box{
  position: relative;
  .d-menu-box{
    position: absolute;
    left: 10px;
    width: 70px;

    .d-menu{
      padding: 5px 10px;
      border: 1px solid $main_color;
      text-align: center;
      background-color: #fff;
  
      &:not(:first-of-type){
        border-top: none;
      }
      
    }
  }

}



// フォームーーーーー
.form-outline-box{
  width: 450px;
  border: 1px solid #fff;
  box-shadow: 0 4px 15px rgba(0,0,0,.2);
  border-radius:10px;
  margin: 75px auto 70px;
  background-color: #fff;
  

  .form-title{
    text-align: center;

  }

  .form-box{
    width: 50%;
    margin: 30px auto; 

    .field{
      margin-top: 20px;
  
  
      .text{
        width: 250px;
      }
      
      .text-area{
        width: 250px;
        height: 150px;
        padding: 10px;
        resize: none;
      }
    }
  }

}