.account-box{
  margin: 40px auto 0;
  display: flex;
  border-radius: 10px;
  padding: 40px;
  width: 70%;

  .follow-btn{
    border: 1px solid $main_color;
    color:  $main_color;
    padding: 10px 15px;
    border-radius: 5px;
    margin-top: 20px;
    &:hover{
      background-color: $main_color;
      color: #fff;
    }
  }

  .unfollow-btn{
    background-color: $main_color;
    border: 1px solid $main_color;
    color:  #fff;
    padding: 10px 15px;
    border-radius: 5px;
    margin-top: 20px;
    &:hover{
      background-color: #fff;
      color: $main_color;
    }
  }


  // 写真-------------
  .account-avatar-box{

    .account-avatar{
      width: 150px;
      height: 150px;
      border-radius: 50%;

    }
  }

  .account-info-box{
    margin-left: 30px;

    .account-head-box{
      display: flex;

      // ユーザーネーム------
      .account-name-box{
        font-size: 20px;
        font-weight: bold;
        margin-right: 40px;
      }
      

    }


    // フォローとフォロワー
    .user-relation-box{
      display: flex;
      margin: 20px 0 10px;

      .follower-box{
        margin-right: 20px;
      }
    }
  }

  
}

.tab-box{
  width: 70%;
  border-top: 1px solid rgba(0,0,0,.3);
 
  margin: 40px auto 0;
  position: relative;
  

  .tab-ul{
    display: flex;
    list-style: none;
    justify-content: space-around;

    li{
      padding-top: 20px;
      display: block;
      opacity: .4;

    }
    
  }
  
}

#active-tab{
  opacity: 1;
  border-top: 1px solid #000;

}