.h-container{
  width: 90%;
  margin:0 auto;
  display: flex;
}
.nav-height{
  height: 100px;
  background-color: #F4F8FA;
}

.header-font{
  color: $main_color;
  &:hover{
    color: $main_color;
  }
}

.guest-btn{
  background-color: #F46F52;
  border: 1px solid #F46F52;
  color: #fff;
  border-radius: 5px;

  &:hover{
    background-color: #fff;
    color:#F46F52;
  }
}


.dropdown-menu{
  .dropdown-item{
    color: $main_color;
    &:hover{
      background-color: #fff;
      opacity: .8;
    }
  }
}


.app-name{
  font-weight: 900;
  font-size: 27px;
  
}


