.output-box{
  display: flex;
  width: 80%;
  margin: 60px auto;
  box-shadow: 0 4px 15px rgba(0,0,0,.2);
  padding: 40px;
  border-radius: 20px;

  .output-book-iamge{
    width: 200px;
    height: 300px;
    margin-right: 20px;
  }
  .output-mini-box{

    .output-book-title{
      margin-bottom: 30px;
    }
  
    .output-content{
    }

  }
  

}