.account-box{
  margin: 40px auto 0;
  display: flex;
  border: 1px solid #ffffff;
  border-radius: 10px;
  padding: 40px;
  box-shadow: 0 4px 15px rgba(0,0,0,.2);
  width: 70%;


  // 写真-------------
  .account-avatar-box{

    .account-avatar{
      width: 150px;
      height: 150px;
      border-radius: 50%;

    }
  }

  .account-info-box{
    margin-left: 30px;

    .account-head-box{
      display: flex;

      // ユーザーネーム------
      .account-name-box{
        font-size: 20px;
        font-weight: bold;
        margin-right: 40px;
      }
      

    }


    // フォローとフォロワー
    .user-relation-box{
      display: flex;
      margin: 20px 0 10px;

      .follower-box{
        margin-right: 20px;
      }
    }
  }

  
}