.recommend-global-box{
  width: 80%;
  display: flex;
  margin-top: 30px;
  // ----サイドメニュー -----
  .side-menu-box{
    margin-right: 90px;

    nav{

      .sidelist-ul{
        list-style-type: none;
        padding: 0;

      }
    }
  }

  // ----おすすめ投稿----
  .recommend-card{
    flex: 3;
    .recommend-outline{
      border: 1px solid #ffffff;
      border-radius: 10px;
      margin-bottom: 40px;
      box-shadow: 0 4px 15px rgba(0,0,0,.2);
    
    
    
    
      .user-info-box{
        padding: 20px;
        display: flex;
        margin-bottom: 20px;
        .recommend-user-box{
          display: flex;
          .recommend-user-icon-box{
          
            .recommend-user-icon{
              width: 70px;
              height: 70px;
              border-radius: 50%;
              margin-right: 20px;
            }
        
          }
      
          .recommend-username{
            align-self: center;
          }

        }
    
        .recommend-edit-box{
          align-self: center;
          margin-left: auto;
        }
      }
    
      .recommend-box{
        display: flex;
        padding: 0 20px;
        .recommend-image{
          width: 150px;
          height: 200px;
          margin-right: 30px;
        }
    
    
        .recommend-second-box{
    
          .recommend-title{
            font-weight: bold;
            font-size: 18px;
            margin-bottom: 30px;
           
          }
    
        
        }
      }
    
      .function-box{
        display: flex;
        justify-content: flex-end;
        border-top: 1px solid $main-color;
        margin-top: 20px;
        padding: 20px;
    
        .like-btn-box{
          margin-right: 20px;
          display: flex;
          .active-heart{
            color: red;
          }
          .like-count{
            margin-left: 5px;
          }
        }


        .comment-btn-box{
          display: flex;

          .comment-count{
            margin-left: 5px;
          }
        }
    
    
      }
    }

  }
  
}

.recommend-show{
  width: 70%;
  margin: 40px auto;
}
