.title{
  margin: 20px 0 0;
  text-align: center;
  font-weight: bold;
}



.page-switch-box{
  display: flex;
  margin-bottom: 20px;
  .task-link-box{
    border: 0px solid;
    color: white;
    background-color: $main_color;
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
  }

  .click-link{
    background-color: #fff;
    border: 1px solid $main_color;
    color: $main_color;
    &:hover{
      color: white;
      background-color: $main_color;
    }
  }
}

.create-btn-box{
  .create-btn{
    margin: 30px auto 0px;
    display: block;
    padding: 5px 10px;
    text-align: center;
    
    &:hover{
      opacity: .8;
    }
  }
}





.list-box{
  width: 100%;
  margin-bottom: 80px;
  th{
    padding: 10px;

  }
  td{
    padding: 10px;
  }



 
  .book-list{
    border-top: 1px solid $border_color;
    &:last-of-type{
      border-bottom: 1px solid $border_color;
    }


    .list-image{
      width: 80px;
      height: 100px;

    }

    .book-title{
      width: 50%;
    }


    .finish-box{
      align-self: center;
      font-size: 18px;
      padding: 5px 10px;
      border-radius: 25px;
      border: 1px solid $main_color;
      cursor: pointer;
      text-align: center;
      color: $main_color;
      &:hover{
        color: #fff;
        background-color: $main_color;
      }
    }
 

  }

  

}






